extends layout

block content
  h1= title
  p Welcome to #{title}
  button#the-button Click Me
  br
  div
    p#request
  div(id='result-div',style='display:none;')
    p
      b Result:
      div#result
  div(id='error-div',style='display:none;')
    p
      b Error:
      div#error-message
